
  ion-list {
    background: transparent;
    transform: translateY(15vh);
    ion-item {
      border: 1px solid var(--ion-color-medium);
      border-radius: 10px;
    }
    
    ion-button {
      width: 30vh;
      margin: auto;
    }
  
  }

  .backButton {
      position: absolute;
      top: 190px;
      left: 15px;
      font-size: 2rem;
  }
  ion-fab-button {
    --ion-color-primary: #7a6cfc;  
  }

  ion-button{
    --ion-color-primary: #7a6cfc;  
  }


  .scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    content: "";
    display: block;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
  .scan-button {
    margin: 0px;
    position: absolute;
    bottom: 100px;
    width: 50vw;
    height: 50px;
    z-index: 11;
  }