<ion-content [fullscreen]="true" [style.--background]="scanActive?'#00000000':'#ffffff'">

  <div  class="scan-box" [hidden]="!scanActive" [style.--background]="scanActive?'#00000000':'#ffffff'"></div>

  <form *ngIf="show" [formGroup]="form">

    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">

      <h2 style="top:10%;">Ajouter une carte existante</h2>


      <ion-item class="ion-margin-vertical">
        
        <ion-input formControlName="cardId" placeholder="Enter le numero de la carte">
        </ion-input>
        <svg (click)="startScanner()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
          <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
        </svg>
      </ion-item>

      <ion-button color="primary" shape="round" (click)="ajouter()">ajouter</ion-button>

      <h4 style="top:42%;">ou</h4>
      <h2 style="top:46%;">Créer une nouvelle carte</h2>
      <ion-button color="primary" shape="round" (click)="creer()">créer</ion-button>
    </ion-list>

  </form>

</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="gotoAddCard()">
    <ion-icon name="return-up-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>