<ion-header class="ion-no-border">
  <ion-list lines="none">
    <div style="text-align: center; margin-top: 45px;">
    <ion-label class="text1" style="color: aliceblue;">
        jouer et gagner
    </ion-label>
  </div>
  </ion-list>
</ion-header>

<div style="text-align: center;" class="wheel">
  <canvas (click)="spin()" #myCanvas width="auto" height="300"></canvas>
  <!--<div class="icon-center"><ion-fab vertical="55%" horizontal="center" slot="fixed">
    <ion-fab-button (click)="spin()" color="primary">
      <ion-icon class="icon" name="game-controller"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>   -->  
</div>
<ion-content>

  <ion-item-group>
    <ion-item class="ion-padding-vertical popItem" 
      *ngFor="let item of recom">
      <ion-thumbnail slot="start">
        <div class="ion-text-center">
          <ion-text color="white">date</ion-text>
        </div>
        <p class="ion-text-center" [style.margin]="'20px 0'">
          <ion-text color="white">{{item.date.substr(5,5)}}</ion-text>
        </p>
      </ion-thumbnail>
      <ion-label>
        <ion-note color="dark"><b>{{item.description}}</b></ion-note>
        <p class="ion-text-wrap">{{item.societe}}</p>
      </ion-label>
    </ion-item>
  </ion-item-group>

<!--<ion-card *ngFor="let item of recom">
  <ion-item>
    <ion-icon name="gift-outline" slot="start"></ion-icon>
    <ion-label>cadeau : {{item.description}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar-number-outline"></ion-icon>
    <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;date : {{item.date}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="cart-outline"></ion-icon>
    <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;boutique : {{item.societe}}</ion-label>
  </ion-item>
</ion-card>-->

<br><br><br>
<ion-fab vertical="bottom" horizontal="start" slot="fixed" >
  <ion-fab-button (click)="gotoDetail()">
    <ion-icon name="return-up-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
