<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-row>
      <ion-col>
        <ion-label class="big-heading">
          <p style="text-align: center; margin-top: 15px;">Ajouter</p>
          <p style="text-align: center; margin-top: 25px;">une nouvelle carte</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
  <div class="popover">
    <ion-searchbar [(ngModel)] = "Search" name="Search" placeholder="rechercher une marque"></ion-searchbar>
  </div>
</ion-header>
<ion-content [fullscreen]="true">

  <br>
  <br>
    <ion-card style="height: 120px;width:95%;" (click)="goto(item.id_part)" class="card" *ngFor="let item of partenaires | listpartenaire:Search">
   <!--<ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label style="font-weight: bold;font-size: 1.2rem;color: var(--ion-color-dark);">
        boutique : <br> {{item.societe}}</ion-label>
      <ion-button slot="end" size="small" shape="round" color="primary" (click)="goto()">ajouter</ion-button>
    </ion-item>-->
    <ion-item style="height: 120px;width:100%;">
   <img style="height: 120px;width:100%;" src="{{imgUrl+item.img}}"  alt="">
    </ion-item>
    </ion-card>

</ion-content>
