<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-list lines="full">
       <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form">
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Username</ion-label>


            <ion-input formControlName="Nom" type="text" placeholder="Username">
              <ion-icon name="person" slot="start" color="medium"></ion-icon>
            </ion-input>


          </ion-item>
          <ion-text class="error" color="danger"
            *ngIf="!form.get('Nom').valid && form.get('Nom').touched">
            <ion-text *ngIf="form.get('Nom').hasError('required')">
              * Please enter your Name
            </ion-text>
          </ion-text>
        </div>
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>


            <ion-input formControlName="mail" type="email" placeholder="Email Address">
              <ion-icon name="mail" slot="start" color="medium"></ion-icon>
            </ion-input>


          </ion-item>
          <ion-text class="error" color="danger"
            *ngIf="!form.get('mail').valid && form.get('mail').touched">
            <ion-text *ngIf="form.get('mail').hasError('required')">
              * Please enter your Email Address
            </ion-text>
            <ion-text
              *ngIf="!form.get('mail').hasError('required') && form.get('mail').hasError('email')">
              * Please enter proper Email Address
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="mdp" type="password" placeholder="Password">
                <ion-icon name="key" slot="start" color="medium"></ion-icon>
              </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('mdp').valid && form.get('mdp').touched">
            <ion-text *ngIf="form.get('mdp').hasError('required')">
              * Please enter your Password
            </ion-text>
            <ion-text *ngIf="!form.get('mdp').hasError('required') && form.get('mdp').hasError('minlength')">
              * Password must be of atleast 8 characters
            </ion-text>
          </ion-text>
        </div>


        <ion-button
          size="large"
          expand="block"
          shape="round"
          color="primary"
          (click)="onSubmit()">
          <ion-text color="white">Sign up</ion-text>

        </ion-button>
        <ion-text class="error1" color="danger">
        {{msg}}
      </ion-text>
        <p class="signup">
          <ion-note>
            Alredy have account? <ion-text (click)="goto()" color="primary">login</ion-text>
          </ion-note>
        </p>
      </form>
    </ion-item-group>

  </ion-list>
</ion-footer>
