<ion-header class="ion-no-border">
  <ion-list lines="none">
    <div style="text-align: center; margin-top: 45px;">
    <ion-label class="text1" style="color: aliceblue;">
      {{nom}}
    </ion-label>
  </div>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card *ngFor="let item of promos">
  <ion-card-content style="height: 180px;">
    <img style="height: 100%; width: 100%;" src="http://localhost:3000/api/files/get/{{item.img_dir}}" alt="">
  </ion-card-content>
</ion-card>
</ion-content>
