<ion-header class="ion-no-border">
  <ion-list lines="none">

    <ion-label style="position: fixed; left:20px; top: 20px;color: aliceblue;">
      reclamation
    </ion-label>

    <ion-icon (click)="rec()" color="white" style=" position: fixed; left: 0%; top: 45px;height: 40px; width: 40px;"
    name="receipt-outline"></ion-icon>

    <!--<ion-label style="position: fixed; left:20px; top: 20px;color: aliceblue;">
      localisation
    </ion-label>-->

    <ion-icon (click)="localisations()" color="white" style=" position: fixed; left: 45%; top: 45px;height: 40px; width: 40px;"
    name="location-outline"></ion-icon>

    <ion-label style="position: fixed; right:20px; top: 20px ; color: aliceblue;">
      Feedback
    </ion-label>
    <ion-icon (click)="feed()" color="white" style=" position: fixed; right: 0%; top: 45px;height: 40px; width: 40px;"
    name="chatbox-ellipses-outline"></ion-icon>
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">
  <div style="text-align: center;">
      <div style="text-align:center">
      <div *ngFor="let item of carte1">
        <ngx-qrcode
        [width]="230"
        value={{item.num_carte}}
        class="qr"
        cssClass="center">
      </ngx-qrcode>

      <ngx-barcode bc-value={{item.num_carte}} [bc-display-value]="true"></ngx-barcode>
    </div>
    </div>
    <h2>points de fidélité : <ion-badge color="primary" mode="ios" >{{points}}</ion-badge></h2>
  
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">

    <ion-fab-button color="Secondary" (click)="game()">
      <ion-icon class="icon" name="game-controller"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button color="Secondary" (click)="promopart()">
      <ion-icon class="icon" name="gift-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
