<ion-header class="ion-no-border">
  <ion-list lines="none">

    <ion-label style="position: fixed; left:20px; top: 20px;color: aliceblue;">
      reclamation
    </ion-label>

    <ion-icon (click)="rec()" color="white" style=" position: fixed; left: 0%; top: 45px;height: 40px; width: 40px;"
    name="receipt-outline"></ion-icon>

    <!--<ion-label style="position: fixed; left:20px; top: 20px;color: aliceblue;">
      localisation
    </ion-label>-->

    <ion-icon (click)="localisations()" color="white" style=" position: fixed; left: 45%; top: 45px;height: 40px; width: 40px;"
    name="location-outline"></ion-icon>

    <ion-label style="position: fixed; right:20px; top: 20px ; color: aliceblue;">
      Feedback
    </ion-label>
    <ion-icon (click)="feed()" color="white" style=" position: fixed; right: 0%; top: 45px;height: 40px; width: 40px;"
    name="chatbox-ellipses-outline"></ion-icon>
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list style="position: fixed; top: 80px">
    <div class="ion-margin marginBottom" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" [value]="segmentValue" style="background-color: rgb(120, 170, 245);">
        <ion-segment-button value="1" >
          <ion-label style="font-weight: bold;">details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label style="font-weight: bold;">jeux</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label style="font-weight: bold;">promotion</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="segmentValue === '1'">

      <div style="text-align:center">
      <div *ngFor="let item of carte1">
        <ngx-qrcode
        [width]="230"
        value={{item.num_carte}}
        class="qr"
        cssClass="center">
      </ngx-qrcode>

      <ngx-barcode bc-value={{item.num_carte}} [bc-display-value]="true"></ngx-barcode>
    </div>
    </div>
    </div>
    <div *ngIf="segmentValue === '2'">
  <!--////////////////////////////////////////////////////////jeux/////////////////////////////-->

      jeux

  <!--////////////////////////////////////////////////////////jeux/////////////////////////////-->
    </div>
    <div *ngIf="segmentValue === '3'">
      promotion
    </div>
  </ion-list>
</ion-content>
