ion-header {
  ion-list{
      height: 100px;
      background-color: rgb(120, 170, 245);
      border-radius: 0 0 20px 20px;
      padding-bottom: 7vh;
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      font-style: italic;
          }
  }
.icon{
  color: rgb(136, 52, 247) !important;

}