<!--<ion-header class="ion-no-border">
  <ion-list lines="none">
    <div style="text-align: center; margin-top: 45px;">
    <ion-label class="text1" style="color: aliceblue;">
        localisation
    </ion-label>
  </div>
  </ion-list>
</ion-header>-->
<ion-content [fullscreen]="true">
    <div #map id="map"></div>
     <!--<div class="data-div">
     <div class="ion-text-center ion-padding" *ngIf="!currentLocationAvailable">
        <ion-button expand="full" (click)="getLocation()">obtenez votre position</ion-button>
      </div>
      <ion-list-header *ngIf="reverseGeoCoded">votre localisation</ion-list-header>
      <div class="ion-padding" *ngIf="reverseGeoCoded">
        {{reverseGeoCoded}}
      </div>
      <div *ngIf="reverseGeoCoded">
        <ion-list-header>resultats du recherhce</ion-list-header>
        <ion-item>
          <ion-label color="primary">mots clés</ion-label>
          <ion-input [(ngModel)]="query"></ion-input>
        </ion-item>

        <div class="ion-text-center ion-padding" *ngIf="!searchResultsAvailable && reverseGeoCoded">
          <ion-button expand="full" (click)="search()">rechercher</ion-button>
        </div>
        <ion-list *ngIf="searchResults && searchResults.length">
  
          <ion-item *ngFor="let res of searchResults">
            <ion-label>{{res.address.freeformAddress}} {{res.address.countryCodeISO3}}</ion-label>
            <ion-button fill="clear" size="small" slot="end" (click)="locateResult(res)">
              Locate
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>-->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
      <ion-fab-button (click)="gotoDetail()">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
