/*ion-header {
    ion-list{
        height: 100px;
        background-color: rgb(120, 170, 245);
        border-radius: 0 0 20px 20px;
        padding-bottom: 7vh;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        font-style: italic;
            }
    }*/
    ion-fab-button {
      --ion-color-primary: #7a6cfc;
      
      }

      #map {
        height: calc(100% - 0px);
        width: 100vw;
        }