<ion-header class="ion-no-border">
<ion-list lines="none">

  <ion-buttons (click)="gotoNotif()"  slot="end" style="position: fixed; right: 0%; top: 0%;">
    <ion-badge color="danger" mode="ios">0</ion-badge>
    <ion-fab-button size="small" color="white">
      <ion-icon  name="notifications-outline" color="primary">
      </ion-icon>
    </ion-fab-button>
  </ion-buttons>

  <ion-buttons slot="start" style="position: fixed; left: 0%; top: 0%;" (click)="logOut()" >
    <ion-fab-button size="small" color="white">
      <ion-icon name="log-out-outline" color="primary" >
      </ion-icon>
    </ion-fab-button>
  </ion-buttons> <br><br><br><br>

    <ion-item color="#1248EE" >
      <ion-label>bonjour  {{user.Nom}}</ion-label>
    </ion-item>
  </ion-list>


  <div class="popover">
    <ion-searchbar [(ngModel)] = "Search" name="Search" placeholder="rechercher une carte fidélité "></ion-searchbar>
  </div>
</ion-header>


<ion-content [fullscreen]="true" class="content">

  <ion-card *ngFor="let item of cartes | listCarte:Search; ">
    <!--<img src="../../../assets/exemple.gif" style="width: 100%;">-->
    <ion-card-header>
     Carte fidélité
    </ion-card-header>
 <ion-item>
    <ion-card-content >
      <p>points de fidélité : <ion-badge color="primary" mode="ios" >42</ion-badge></p>
      <p>numero carte : {{item.num_carte}}</p>
      <p>boutique : {{item.boutique}}</p>
      <ion-button fill="outline" slot="end" (click)="goto(item.id_carte,item.id_part)">detail</ion-button>
    </ion-card-content>
  </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="gotoadd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


