<ion-header class="ion-no-border">
  <ion-list lines="none">
    <div style="text-align: center; margin-top: 45px;">
      <ion-label class="text1" style="color: aliceblue ;">
        Notifications
          </ion-label>
    </div>
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="!allNotif" >
    <img src="../../../assets/undraw_no_data_re_kwbl.svg" alt="">
    <h3 style="text-align: center;">Aucune notifications</h3>
  </div>
  <ion-card *ngFor="let item of allNotif" (click)="promopart()">
    <ion-card-header>
      {{item.date.substr(5,5)}}
    </ion-card-header>
    <ion-card-content>
      <ion-note color="dark"><b>{{item.title}}</b></ion-note>
      <p class="ion-text-wrap">{{item.body}}</p>
    </ion-card-content>
  </ion-card>


</ion-content>