.popItem {
    //--background: var(--ion-color-light);
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 0;
    ion-thumbnail {
      min-width: 5rem;
      min-height: 6rem;
      border-radius: 10px;
      background: var(--ion-color-secondary);
      div {
        background-color: var(--ion-color-primary);
        border-radius: 10px 10px 0 0;
        padding-bottom: 2px;
        ion-text {
          font-size: 0.7rem;
          font-weight: bold;
        }
      }
      p {
        ion-text {
          font-size: 1.8rem !important;
        }
      }
    }
    ion-label {
      ion-note {
        font-size: 1.1rem;
        letter-spacing: 0.5px;
      }
      p {
        margin-top: 5px;
        ion-text {
          span {
            color: var(--ion-color-dark);
            padding: 0 5px;
          }
        }
      }
    }
    ion-fab {
      margin-right: -15px !important;
      margin-top: -10px;
    }
  }



  .my-class{
    ion-label {
        ion-note {
          font-size: 1.1rem;
          letter-spacing: 0.5px;
        }
        p {
          margin-top: 5px;
          ion-text {
            span {
              //color: var(--ion-color-dark);
              color: rgb(61, 6, 6);
              padding: 0 5px;
            }
          }
        }
      }
  }