<ion-content [fullscreen]="true">
  <!-- <ion-toolbar color="primary">
     <ion-buttons slot="end">
       <ion-button fill="clear">EDIT</ion-button>
      </ion-buttons>
   </ion-toolbar>-->
   <ion-grid class="main-header">
     <div align="center">
       <ion-avatar>
         <img src="../../../assets/profil.png" alt="">
       </ion-avatar>
     </div>
   </ion-grid>

         <!--<p><ion-text color="dark">Bonjour {{user.Nom}} vous pouver modifier vos données</ion-text></p>-->

   <form>
    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Nom et prenom :</ion-label>


        <ion-input [(ngModel)]="Username" type="text" name="Username">
          <ion-icon name="person" slot="start" color="medium"></ion-icon>
        </ion-input>


      </ion-item>
    </div>
    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Email :</ion-label>


        <ion-input [(ngModel)]="Email" type="Email" name="Email" disabled="true">
          <ion-icon name="mail" slot="start" color="medium"></ion-icon>
        </ion-input>


      </ion-item>
    </div>

    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Mot de passse :</ion-label>
          <ion-input [(ngModel)]="password" type="password" name="password">
            <ion-icon name="key" slot="start" color="medium"></ion-icon>
          </ion-input>
      </ion-item>
    </div>

    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked"> Confirmer mot de passse :</ion-label>
          <ion-input [(ngModel)]="password1" type="password" name="password1">
            <ion-icon name="shield-checkmark-outline" slot="start" color="medium"></ion-icon>
          </ion-input>
      </ion-item>
    </div>


    <ion-button
      size="large"
      expand="block"
      shape="round"
      color="primary"
      width="50%"
      (click)="onSubmit()">
      <ion-text color="white">modifier</ion-text>

    </ion-button>
    <ion-text class="error1" color="danger">
    {{msg}}
  </ion-text>
  </form>
 </ion-content>
