<ion-content [fullscreen]="true">
  
   <ion-grid class="main-header">
     <div align="center">
       <ion-avatar>
         <img src="../../../assets/profil.png" alt="">
       </ion-avatar>
     </div>
   </ion-grid>

   <form [formGroup]="form">
    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>


        <ion-input formControlName="Nom" type="text" placeholder="Nom">
          <ion-icon name="person" slot="start" color="medium"></ion-icon>
        </ion-input>


      </ion-item>
      <ion-text class="error" color="danger"
        *ngIf="!form.get('Nom').valid && form.get('Nom').touched">
        <ion-text *ngIf="form.get('Nom').hasError('required')">
          * Entrer votre Nom s'il vous plait !
        </ion-text>
      </ion-text>
    </div>

    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Prenom</ion-label>


        <ion-input formControlName="Prenom" type="text" placeholder="Prenom">
          <ion-icon name="person" slot="start" color="medium"></ion-icon>
        </ion-input>


      </ion-item>
      <ion-text class="error" color="danger"
        *ngIf="!form.get('Prenom').valid && form.get('Prenom').touched">
        <ion-text *ngIf="form.get('Prenom').hasError('required')">
          * Entrer votre Prenom s'il vous plait !
        </ion-text>
      </ion-text>
    </div>

    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>


        <ion-input formControlName="mail" type="email" placeholder="Adresse email">
          <ion-icon name="mail" slot="start" color="medium"></ion-icon>
        </ion-input>


      </ion-item>
      <ion-text class="error" color="danger"
        *ngIf="!form.get('mail').valid && form.get('mail').touched">
        <ion-text *ngIf="form.get('mail').hasError('required')">
          * Entrer votre email s'il vous plait !
        </ion-text>
        <ion-text
          *ngIf="!form.get('mail').hasError('required') && form.get('mail').hasError('email')">
          * Entrer valide email !
        </ion-text>
      </ion-text>
    </div>

    <div class="ion-margin-vertical">
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input formControlName="mdp" type="password" placeholder="Mot de passe">
            <ion-icon name="key" slot="start" color="medium"></ion-icon>
          </ion-input>
      </ion-item>
      <ion-text class="error" color="danger" *ngIf="!form.get('mdp').valid && form.get('mdp').touched">
        <ion-text *ngIf="form.get('mdp').hasError('required')">
          * Entrer votre mot de passe s'il vous plait !
        </ion-text>
        <ion-text *ngIf="!form.get('mdp').hasError('required') && form.get('mdp').hasError('minlength')">
          * 8 caractére au minimum
        </ion-text>
      </ion-text>
    </div>

    <ion-button
    size="large"
    expand="block"
    shape="round"
    color="primary"
    width="50%"
    (click)="onSubmit()">
    <ion-text color="white">modifier</ion-text>
    </ion-button>
    
  </form>

   
 </ion-content>
