<ion-content [fullscreen]="true">
  <div id="bg">

  </div>
  <ion-list lines="full">
    <ion-item-group class="ion-margin-horizontal">
   <form [formGroup]="form1">

     <div class="ion-margin-vertical">
       <ion-item>
         <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="mail" type="email" placeholder="Enter Email">
                <ion-icon name="mail" slot="start" color="medium"></ion-icon>
              </ion-input>
       </ion-item>
       <ion-text class="error" color="danger"
         *ngIf="!form1.get('mail').valid && form1.get('mail').touched">
         <ion-text *ngIf="form1.get('mail').hasError('required')">
           * Please enter your Email Address
         </ion-text>
         <ion-text
           *ngIf="!form1.get('mail').hasError('required') && form1.get('mail').hasError('mail')">
           * Please enter proper Email Address
         </ion-text>
       </ion-text>
     </div>

     <div class="ion-margin-vertical">
       <ion-item>
         <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="mdp" type="password" placeholder="Password">
                <ion-icon name="key" slot="start" color="medium"></ion-icon>
              </ion-input>
       </ion-item>
       <ion-text class="error" color="danger" *ngIf="!form1.get('mdp').valid && form1.get('mdp').touched">
         <ion-text *ngIf="form1.get('mdp').hasError('required')">
           * Please enter your Password
         </ion-text>
         <ion-text *ngIf="!form1.get('mdp').hasError('required') && form1.get('mdp').hasError('minlength')">
           * Password must be of atleast 8 characters
         </ion-text>
       </ion-text>
     </div>

        <ion-button size="large" expand="block" shape="round" color="primary" (click)="onSubmit()">
        <ion-text color="white">Sign in</ion-text>
        </ion-button>
          <ion-text class="error1" color="danger">
            {{msg}}
          </ion-text>
     <p class="signup">
       <ion-note>
         Dont have account! <ion-text (click)="goto()" color="primary">Sign-up</ion-text>
       </ion-note>
     </p>
   </form>
 </ion-item-group>

</ion-list>
</ion-content>
