<ion-content [fullscreen]="true">
  <div id="bg">

  </div>
  <ion-list lines="full">
    <ion-item-group class="ion-margin-horizontal">
   <form [formGroup]="form1">

     <div class="ion-margin-vertical">
       <ion-item>
         <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="mail" type="email" placeholder="Entrer votre Email">
                <ion-icon name="mail" slot="start" color="medium"></ion-icon>
              </ion-input>
       </ion-item>
       <ion-text class="error" color="danger"
         *ngIf="!form1.get('mail').valid && form1.get('mail').touched">
         <ion-text *ngIf="form1.get('mail').hasError('required')">
           * Entrer email s'il vous plait !
         </ion-text>
         <ion-text
           *ngIf="!form1.get('mail').hasError('required') && form1.get('mail').hasError('mail')">
           * Entrer votre email s'il vous plait !
         </ion-text>
       </ion-text>
     </div>

     <div class="ion-margin-vertical">
       <ion-item>
         <ion-label position="stacked">Mot de passe</ion-label>
              <ion-input formControlName="mdp" type="password" placeholder="Mot de passe">
                <ion-icon name="key" slot="start" color="medium"></ion-icon>
              </ion-input>
       </ion-item>
       <ion-text class="error" color="danger" *ngIf="!form1.get('mdp').valid && form1.get('mdp').touched">
         <ion-text *ngIf="form1.get('mdp').hasError('required')">
           * Entrer votre mot de passe s'il vous plait !
         </ion-text>
         <ion-text *ngIf="!form1.get('mdp').hasError('required') && form1.get('mdp').hasError('minlength')">
           * 8 caractére au minimum
         </ion-text>
       </ion-text>
     </div>

        <ion-button size="large" expand="block" shape="round" color="primary" (click)="onSubmit()">
        <ion-text color="white">Connecter</ion-text>
        </ion-button>
     <p class="signup">
       <ion-note>
         créer un compte <ion-text style="font-size: 1.2rem;" (click)="goto()" color="primary">S'inscrire</ion-text>
       </ion-note>
     </p>
   </form>
 </ion-item-group>

</ion-list>
</ion-content>
