<ion-header class="ion-no-border">
  <ion-list lines="none">
    <div style="text-align: center; margin-top: 45px;">
      <ion-label class="text1" style="color: aliceblue ;">
        Introduire votre Feedback
      </ion-label>
    </div>
  </ion-list>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-slides pager="false" #mySlider>
    <ion-slide *ngFor="let item of Quest;index as i">

      <ion-list>
        <ion-radio-group value="Q1" [(ngModel)]="Q1">

          <ion-list-header>
            <ion-label class="Q">{{item.description}}</ion-label>
          </ion-list-header>
          <div *ngFor="let item1 of Rep">
            <ion-item *ngIf="item1.id_question==item.id_question">
              <ion-label>{{item1.reponse}}</ion-label>
              <ion-radio slot="start" value="{{item1.id_rep}}"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>


        <div style=" text-align: center;width: 100%;height: 300px;">
          <h2 style="text-align: center;color:#7a6cfc;">{{i+1}}/{{p}}</h2>
          <ion-fab>
            <ion-fab-button horizontal="center" style="text-align: center;margin-top: 40px"
              (click)="onSubmit(item.id_question,i)">
              <ion-icon name="send-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="gotoDetail()">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>