<ion-router-outlet></ion-router-outlet>
<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab === 'home' ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon [name]="selectedTab === 'profil' ? 'person' : 'person-outline'"></ion-icon>
      <ion-label>profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promotion">
      <ion-icon [name]="selectedTab === 'promotion' ? 'gift' : 'gift-outline'"></ion-icon>
      <ion-label>Promos</ion-label>
    </ion-tab-button>
<!--    <ion-tab-button tab="newcard">
      <ion-icon [name]="selectedTab === 'newcard' ? 'add-circle' : 'add-circle-outline'"></ion-icon>
      <ion-label>ajouter carte</ion-label>
    </ion-tab-button>

    -->


  </ion-tab-bar>
</ion-tabs>
