<ion-header>
  <ion-toolbar>
    <ion-title>detail-card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align:center">
    <h1>
      QR Code
    </h1>
  </div>
<div *ngFor="let item of carte1">
    <ngx-qrcode
    value={{item.num_carte}}
    class="qr"
  >
  </ngx-qrcode>

  <ion-list>
    <ion-item *ngFor="let item1 of localisation"  (click)="onClick1(item1.url)" >
      <ion-label>{{item1.boutique}}</ion-label>
    </ion-item>
  </ion-list>

</div>
</ion-content>
