<ion-content [fullscreen]="true">
 <!-- <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear">EDIT</ion-button>
     </ion-buttons>
  </ion-toolbar>-->
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="" />
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Nom</ion-text>
        <p><ion-text color="dark">MELLITI Amin</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Numero</ion-text>
        <p><ion-text color="dark">54792022</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Email</ion-text>
        <p><ion-text color="dark">aminmelliti@gmail.com</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Addresse</ion-text>
        <p><ion-text color="dark">Ariana</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
